#gallery {
  .container {
    .gallery {
      padding: 120px 0px;
      .gallery-text {
        margin: auto;
        font-weight: 300;
        .g-h3 {
          font-size: 56px;
          font-family: serif;
          font-weight: 100;
        }
        .g-p {
          font-size: 22px;
          color: #b8b8b8;
          font-weight: 300;
          line-height: 32px;
        }
      }
      .g-imgs {
        display: flex;
        justify-content: center;
        width: 1140px;
        flex-wrap: wrap;
        margin: 70px auto;
        gap: 10px;
        .g-img {
          width: 370px;
          height: 370px;
        }
      }
    }
  }
}
